body {
  color: white;

}

input {
  border: solid grey 2px;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
}

h1 {
  font-size: 55px;
  font-weight: 900;
  margin-top: 30px;
  text-align: left;
  text-transform: capitalize;
}

h2 {
  font-size: 50px;
  text-align: left;
  font-weight: 600;
  margin: 20px 0px;
  padding: 0;
}

h3 {
  font-size: 15px;
  text-align: left;
  font-weight: 900;
  margin: 0px;
}

h4 {
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  text-align: left;
}

h5 {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}

hr {
  height: 8px;
}

small {
  color: #696969;
}

.test {
  position: relative;
  left: 20px;
}
.icons {
  padding: 10px;
  height: 70px;
  width: 70px;
}

.container {
  max-width: 650px;
  padding: 10px;
}

.weather-app {
  border: solid grey 2px;
  background-color: grey;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.search-btn,
.location {
  border: none;
  background: none;
  width: 35px;
  margin: 0px 5px;
}

.location {
  color: white;
  margin: 5px 5px;
}

.location:hover {
  color: #ed6e30;
  text-decoration: none;
}

.cel-fah {
  border: none;
  background: none;
  color: #ed6e30;
  padding: 0px 5px;
  text-align: right;
  text-decoration: none;
}
.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.cel-fah:hover {
  color: #ed6e30;
  text-decoration: none;
 font-weight: 500;
}
.active {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: white;
}
.today-hi,
.today-lo {
  font-size: 15px;
  padding: 0px 7px;
}

.lo-temp-icon {
  color: lightskyblue;
}

.hi-temp-icon {
  color: lightcoral;
}

.forecast-icon {
  font-size: 40px;
  margin-bottom: 0;
  padding: 0;
  margin: 0px;
}

.forecast-descrip {
  margin: 0px;
  font-size: 25px;
  text-transform: capitalize;
}

.upcoming-hours {
  color: #5a6275;
  margin-top: 15px;
}

.now {
  font-weight: 900;
  font-family: sans-serif;
}

.hi-lo-temps {
  color: #5a6275;
  font-size: 10px;
}
.plus-hi {
  color: lightcoral;
  font-size: 10px;
}

.plus-lo {
  color: lightskyblue;
  font-size: 10px;
}
.hi-lo {
  font-size: 10px;
}

.capital {
  text-transform: capitalize;
}

#morning {
  border: solid grey 2px;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-image: url("../images/morn.png");
  background-size: cover;
}

#afternoon {
  border: solid grey 2px;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-image: url("https://media.giphy.com/media/VxbvpfaTTo3le/giphy.gif");
  background-size: 100% 100%;
}

#evening {
  border: solid grey 2px;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-image: url("../images/evening.gif");
  background-size: 100% 100%;
}

#night {
  border: solid grey 2px;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-image: url("../images/night2.gif");
  background-size: 100% 100%;
}





  